<div class="container-fluid mt-3 pb-3">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-primary text-center">Inicio</h1>
        </div>
    </div>
    <div class="row mt2">
        <div class="col-md-4 text-center mb-3">
            <img src="assets/centros.png" class="cursor-pointer" (click)="optionChanges('1')" alt="Centros">
        </div>
        <div class="col-md-4 text-center mb-3">
            <img src="assets/alumnos.png" class="cursor-pointer"  (click)="optionChanges('2')" alt="Alumnos">
        </div>
        <div class="col-md-4 text-center mb-3">
            <img src="assets/calificaciones.png" class="cursor-pointer" (click)="optionChanges('3')" alt="Calificaciones">
        </div>
    </div>
</div>
