<div class="container h-100">
    <div class="row mt-5 pb-5">
      <div class="col-12 m-auto">
        <mat-card >
          <mat-tab-group #tabs>
            <mat-tab label="Inicio">
              <ng-template matTabContent>
                <app-inicio (optionSelectedTrigger)="tabs.selectedIndex = $event"></app-inicio>
              </ng-template>
            </mat-tab>
            <mat-tab label="Centros">
              <ng-template matTabContent>
                <app-centros></app-centros>
              </ng-template>
            </mat-tab>
            <mat-tab label="Alumnos">
              <ng-template matTabContent>
                <app-alumnos></app-alumnos>
              </ng-template>
            </mat-tab>
            <mat-tab label="Calificaciones"> 
              <ng-template matTabContent>
                <app-calificaciones></app-calificaciones>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>
  